Binaries/
.vs/
Intermediate/
Plugins/RazerSDKPlugin/Binaries/
Plugins/RazerSDKPlugin/Intermediate/
Saved/Cooked/
Saved/Stats/
Saved/StagedBuilds/
Saved/Logs/
Saved/Temp/
Saved/
DerivedDataCache/
Build/Android_DXT/
InAppPurchases.sln
InAppPurchases.sdf
InAppPurchases.v12.suo
InAppPurchases.opensdf
InAppPurchases.VC.db
InAppPurchases.VC.VC.opendb
Build/Android/src/com/razerzone/store/sdk/engine/unreal/examples/razersdkexample/OBBData.java
Build/Android/src/com/razerzone/store/sdk/engine/unreal/examples/inapppurchases/AlarmReceiver.java
Build/Android/src/com/razerzone/store/sdk/engine/unreal/examples/inapppurchases/DownloaderActivity.java
Build/Android/src/com/razerzone/store/sdk/engine/unreal/examples/inapppurchases/OBBData.java
Build/Android/src/com/razerzone/store/sdk/engine/unreal/examples/inapppurchases/OBBDownloaderService.java
Build/Android/src/com/epicgames/ue4/DownloadShim.java
